@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    width: 100%;
    height: auto;
    display: flex;
}

:root{
    --primaryColor:#0e6253;
    --secondarColor:#ffc107;
    --white: #fff;
    --black: #222;
    --soft: #d9f2ee;
    --dark: #a7a7a7;
    --grey: #f5f5f5;
}

.sidebar{
    height: 100%;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2%;
    background-color: var(--primaryColor);
    color: white;
}

.sidebar-menu{
    display: flex;
    flex-direction: column;
}
.sidebar-menu a,
.sidebar-logout a{
    padding: 5% 8%;
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    text-decoration: none;
    color: white;
    transition: .5s;
}
.sidebar-menu a icon-icon, .sidebar-logout a icon-icon{
    font-size: 20px;
}
.sidebar-menu a:hover,.sidebar-logout a:hover{
    background-color: var(--secondarColor);
    border-radius: 50px;
}

.main{
    width: 100%;
    height: max-content;
    min-height: 100vh;
    padding: 2%;
    background-color: var(--soft);
    margin-left: 250px;
}
.main-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-toggle {
    display: none;
}

.search{
    width: 60%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    background-color: var(--white);
    border-radius: 20px;
}

.search input{
    width: 80%;
    height: 100%;
    padding: 20px;
    border: none;
    border-radius: 20px;
}

.search-btn{
    background-color: var(--secondarColor);
    color: white;
    border: none;
    border-radius: 20px;
    width: 120px;
    cursor: pointer;
    transition: .5s;
}

.search:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.search-btn:hover{
    background-color: var(--primaryColor);
}

.profile{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.cart , .user{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 20px;
    color: var(--primaryColor);
    text-decoration: none;
    padding: 0 10px;
    height: 40px;
    border-radius: 50%;
}

.cart:hover, .user:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.main-highlight{
     margin: 3% 0;
     padding: 2%;
     background-color: var(--secondarColor);
     border-radius: 8px;
}
.main-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.main-title{
    font-size: 20px;
}
.main-arrow{
    font-size: 24px;
}
.back, .forward{
    cursor: pointer;
}
.back:hover , .forward:hover{
    color: var(--primaryColor);
}

.highlight-wrapper{
    width: 100%;
    display: flex;
    padding: 1%;
    border-radius: 8px;
    gap: 1.5rem;
    overflow-x: hidden;
}
.highlight-card{
    display: flex;
    flex-direction: row;
    min-width: 200px;
    width: 80%;
    height: 100%;
    gap: 1rem;
    border-radius: 8px;
    padding: 1%;
    background-color: var(--grey);
    cursor: pointer;
    
}

.highlight-img{
    width: 40px;
    height: 40px;
    border-radius: 8px;
    object-position: center;
    object-fit: cover;
}
.highlight-desc h4{
    color: var(--primaryColor);
}
.highlight-desc a{
    color: var(--black);
    font-size: 13px ;
}
.highlight-card:hover{
    background-color: var(--white);
    box-shadow: rgba(176, 176, 176, 0.2) 0 2px 8px 0px;
}

.main-menu{
    min-height: 100%;
    background-color: var(--grey);
    padding: 2%;
    border-radius: 8px;
}

.main-filter{
    width: 100%;
    display: flex;
    font-display: row;
    align-items: center;
    margin-top: 1.5rem;
    gap: 1rem;
}

.filter-wrapper {
    display: flex;
    justify-content: flex-start;
    overflow-x: hidden;
    width: 100%;
    height: 100px;
    gap: 1.2rem;
}
.filter-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-width: 80px;
    height: 100%;
    background-color: var(--white);
    color: var(--black);
    border-radius: 8px;
    border: 1px solid var(--soft);
    font-size: 14px;
    cursor: pointer;
}
.filter-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 60%;
    font-size: 30px;
    background-color: var(--soft);
    color: var(--primaryColor);
    border-radius: 8px;
}
.filter-card:hover{
    background-color: var(--primaryColor);
    color: var(--white);
}
.filter-card:hover .filter-icon{
    background: var(--white);
}
.divider{
    margin: 1rem 0;
    height: 1px;
    quotes: 100%;
    background-color: var(--primaryColor);
    border: none;
}
.main-detail{
    margin: 1rem 0 1.5rem 0;
}

.detail-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    border-radius: 8px;
    width: 100%;
    margin-top: 1rem;
    gap: 2%;
}

.detail-card{
    min-height: 280px;
    height: 100%;
    background-color: var(--white);
    border-radius: 8px;
    margin: 1% 0;
    box-shadow: rgba(176, 176, 176, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
}
.detail-img{
    width: 100%;
    height: 180px;
    border-radius: 8px;
    object-fit: cover;
    object-position:center ;
    filter: brightness(0.8) ;
}

.detail-desc{
    display: flex;
    justify-content:space-between ;
    align-items: flex-start;
    padding: 3%;
    width: 100%;
}
.detail-sub{
    font-size: 12px;
    color: var(--dark);
    letter-spacing: 0.5;
    margin: 1% 0;
}
.price{
    color: var(--primaryColor);
}
.detail-favorite{
    font-size: 24px;
}
.detail-card:hover{
     box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.detail-card:hover .detail-img{
    filter: opacity(1);
}
.detail-card:hover .detail-name h4{
    color: var(--primaryColor);
}
.detail-card:hover .price{
    letter-spacing: 1.5;
}
@media screen and (max-width:640px){
    .sidebar{
        display: none;
    }
    .main{
        margin-left: 0 ;
    }
    .menu-toggle{
        display: none;
        text-decoration: none;
        font-size: 20px;
        background-color: var(--white);
        color: var(--primaryColor);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        border-radius: 50%;
        z-index: 3;
    }
    .sidebar .active{
        display: flex;
        z-index: 10;
    }

}